<div class="main" [ngClass]="showPopup ? 'overlay-on' : ''">
  <header>
    <div class="logo"><img src="assets/logo.svg" alt=""></div>
    <div class="search" (click)="openPopup()">
      <app-input></app-input>
    </div>
  </header>
  <div class="popup" *ngIf="showPopup">
    <app-popup (closeEvent)="closePopup($event)"></app-popup>
  </div>
  <section>
    <div class="title">
      <h1>Stays in Finland</h1>
      <p><span>12+</span>stays</p>
    </div>
    <div class="grid">
      <app-card *ngFor="let place of places" [place]=place></app-card>
    </div>
  </section>
</div>
<div [ngClass]="showPopup ? 'overlay-on' : ''" class="overlay"></div>
