.search {
  display: grid;
  grid-template-columns: 1fr 106px 53px;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  font-family: var(--secondary-font);
  color: #000;
  &-input-box {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  &-icon {
    color: #EB5757;
    text-align: center;
  }
  &.is-popup {
    grid-template-columns: 1fr 1fr 130px;
  }
  &.is-block {
    padding: 8px 16px;
    text-align: left;
    @media screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
      grid-row-gap: 10px;
      align-items: end;
      .search-icon {display: none;}
      .search-input:first-child {
        border-bottom: 1px solid #F2F2F2;
      }
    }
  }
  &-result {
    margin-top: 35px;
    &-item {
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      font-family: var(--secondary-font);
      font-size: 14px;
      line-height: 18px;
      color: #4F4F4F;
    }
  }
  &-guest-result {
    &-item {
      margin-top: 40px;
    }
    &-item-title {
      font-family: var(--secondary-font);
      font-weight: bold;
      font-size: 14px;
      color: #000000;
    }
    &-item-text {
      margin: 5px 0 10px;
      font-family: var(--secondary-font);
      font-weight: normal;
      font-size: 14px;
      color: #BDBDBD;
    }
    &-item-block-input {
      display: grid;
      grid-template-columns: 25px 40px 25px;
    }
    &-input {
      background: #fff;
      text-align: center;
      border: none;
      outline: none;

      font-family: var(--secondary-font);
      font-weight: bold;
      font-size: 14px;
    }
    &-button {
      width: 23px;
      height: 23px;
      display: grid;
      place-content: center;
      background: #fff;
      border: 1px solid #828282;
      box-sizing: border-box;
      border-radius: 4px;

      color: #828282;
      cursor: pointer;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 127px;
    height: 48px;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    font-family: var(--secondary-font);
    font-size: 14px;
    color: #fff;
    cursor: pointer;

    @media screen and (max-width: 850px) {
      display: none;
    }

    &--mobile  {
      display: none;
      @media screen and (max-width: 850px) {
        display: flex;
        margin: 30px auto 10px;
      }
    }

    .search-icon {
      color: #fff;
    }
  }
  &-input {
    border: none;
    outline: none;
    text-align: center;
    height: 55px;
    padding: 0;
    &.is-block {
      height: auto;
      padding: 5px 0;
      text-align: left;
      @media screen and (max-width: 850px) {
        padding: 5px 0 15px;
        border: none;
      }
    }
  }
}

label {
  padding: 5px 0;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #333333;
}

.search-options {
  &.is-popup {
    display: grid;
    grid-template-columns: 1fr 1fr 130px;
    @media screen and (max-width: 850px) {
      display: block;
    }
  }
}
