.search {
  display: grid;
  grid-template-columns: 1fr 106px 53px;
  grid-gap: 0 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  font-family: var(--secondary-font);
  color: #000;
  &-input {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    &:first-child {
      @media screen and (max-width: 850px) {
        border-bottom: 1px solid #F2F2F2;
      }
    }
  }
  &.is-popup {
    grid-template-columns: 1fr 1fr 53px;
  }
  &.is-block {
    padding: 8px 16px;
    text-align: left;
    @media screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
      grid-row-gap: 10px;
      align-items: end;
      .search-icon {display: none;}
    }
  }
}

input {
  border: none;
  outline: none;
  text-align: center;
  height: 55px;
  border-right: 1px solid #F2F2F2;
  padding: 0;
  &.is-block {
    height: auto;
    padding: 5px 0;
    text-align: left;
    @media screen and (max-width: 850px) {
      padding: 5px 0 15px;
      border: none;
    }
  }
}

label {
  padding: 5px 0;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #333333;
}

span {
  color: #EB5757;
}
